---

---

<a
  target="_blank"
  rel="noreferrer noopener"
  href="https://firebase.google.com/"
  class="group relative overflow-hidden cursor-pointer duration-300 shadow-[inset_0_0_3rem_#FFCA2844] hover:shadow-[inset_0_0_3rem_#FFCA2844,0_0_2rem_#FFCA2844] border-[#FFCA28]/70 hover:border-[#FFDA38]/80 bg-[#FFCA28]/10 backdrop-blur-sm border text-[#FFCA38] p-4 flex-grow rounded-3xl flex flex-col items-start"
>
  <img
    class="absolute -right-3 -top-3 sm:opacity-40 opacity-10 -z-[1] group-hover:scale-110 group-hover:-rotate-6 duration-700"
    src="/stack/firebase.svg"
    alt="firebase"
    width={96}
    height={96}
  />
  <img
    class="absolute right-2 top-2 opacity-40 sm:opacity-100 -z-[1] group-hover:-rotate-12 group-hover:scale-110 group-hover:translate-y-2 duration-500"
    src="/stack/firebase.svg"
    alt="firebase"
    width={56}
    height={56}
  />
  <div
    class="bg-[#FFCA28]/90 group-hover:bg-[#FFDA38] duration-500 font-bold text-black rounded-full px-2 text-sm"
  >
    v10
  </div>
  <h1 class="text-2xl mt-2">Firebase</h1>
  <span class="font-thin max-w-[24ch] mt-1 opacity-70"
    >Backend as a service from Google</span
  >
</a>
