---

---

<a
  target="_blank"
  rel="noreferrer noopener"
  href="https://www.nativewindui.com/"
  class="group hover:no-underline relative overflow-hidden shadow-[inset_0_0_3rem_#fff4] hover:shadow-[inset_0_0_8rem_#fff4,0_0_2rem_#fff4] border-white/40 hover:border-white/70 bg-gradient-to-r from-cyan-400/10 via-pink-400/10 to-yellow-400/10 hover:brightness-110 backdrop-blur-sm border text-white p-4 flex-grow rounded-3xl flex flex-col items-start duration-500"
>
  <img
    class="absolute -right-3 -top-3 sm:opacity-40 opacity-10 -z-[1] group-hover:scale-110 group-hover:-rotate-[115deg] duration-700"
    src="/stack/nativewindui.svg"
    alt="nativewindui"
    width={96}
    height={96}
  />
  <img
    class="absolute right-2 top-2 opacity-40 sm:opacity-100 -z-[1] group-hover:-rotate-[130deg] group-hover:scale-105 duration-500"
    src="/stack/nativewindui.svg"
    alt="nativewindui"
    width={56}
    height={56}
  />
  <div
    class="bg-gradient-to-r from-cyan-300/90 via-pink-300/90 to-orange-300/90 duration-500 font-bold text-black rounded-full px-2 text-sm"
  >
    v1
  </div>
  <h1
    class="text-2xl mt-2 bg-gradient-to-br from-cyan-300 via-pink-200 to-yellow-300 bg-clip-text text-transparent"
  >
    NativewindUI
  </h1>
  <span
    class="font-thin max-w-[24ch] mt-1 opacity-70 group-hover:opacity-100 duration-1000 mix-blend-plus-lighter"
  >
    Familiar interface, native feel.
  </span>
</a>
