---

---

<a
  target="_blank"
  rel="noreferrer noopener"
  href="https://shopify.github.io/restyle/"
  class="group hover:no-underline relative overflow-hidden shadow-[inset_0_0_3rem_#7AB55C44] hover:shadow-[inset_0_0_8rem_#7AB55C44,0_0_2rem_#7AB55C44] border-[#7AB55C]/80 hover:border-[#7AB55C] bg-[#7AB55C]/20 backdrop-blur-sm border text-lime-300 p-4 flex-grow rounded-3xl flex flex-col items-start duration-500"
>
  <img
    class="absolute -right-4 -top-4 sm:opacity-40 opacity-10 -z-[1] group-hover:scale-50 group-hover:-rotate-12 duration-500 group-hover:-translate-x-16"
    src="/stack/restyle.svg"
    alt="restyle"
    width={96}
    height={96}
  />
  <img
    class="absolute right-2 top-2 opacity-40 sm:opacity-100 -z-[1] group-hover:rotate-12 group-hover:scale-150 group-hover:translate-y-2 group-hover:-translate-x-2 duration-500"
    src="/stack/restyle.svg"
    alt="restyle"
    width={56}
    height={56}
  />
  <div
    class="bg-[#7AB55C] group-hover:bg-lime-300 duration-500 font-bold text-black rounded-full px-2 text-sm"
  >
    v2
  </div>
  <h1 class="text-2xl mt-2">Restyle</h1>
  <span
    class="font-thin max-w-[28ch] mt-1 opacity-70 group-hover:opacity-100 duration-1000"
  >
    Themed UI in React-Native from Shopify
  </span>
</a>
