---
import TypeScript from "./typeScript.astro";
import Nativewind from "./nativewind.astro";
import NativewindUI from "./nativewindUI.astro";
import ReactNavigation from "./reactNavigation.astro";
import ExpoRouter from "./expoRouter.astro";
import Supabase from "./supabase.astro";
import Firebase from "./firebase.astro";
import Unistyles from "./unistyles.astro";
---

<div class="flex flex-wrap gap-4 pt-4 w-[90%] lg:w-[69%] 2xl:w-[60%]">
  <TypeScript />
  <Nativewind />
  <NativewindUI />
  <ReactNavigation />
  <ExpoRouter />
  <Supabase />
  <Firebase />
  <Unistyles />
  <!-- to prevent fb being full width -->
  <div class="w-[55%] h-2"></div>
</div>
