---
import TypeScript from "./typeScript.astro";
import NativeWind from "./nativeWind.astro";
import ReactNavigation from "./reactNavigation.astro";
import Tamagui from "./tamagui.astro";
import ExpoRouter from "./expoRouter.astro";
import Supabase from "./supabase.astro";
import Firebase from "./firebase.astro";
---

<div class="flex flex-wrap gap-4 pt-4 w-[90%] lg:w-[69%] 2xl:w-[60%]">
  <TypeScript />
  <NativeWind />
  <ReactNavigation />
  <Tamagui />
  <ExpoRouter />
  <Supabase />
  <Firebase />
  <!-- to prevent fb being full width -->
  <div class="w-[55%] h-2"></div>
</div>
