---

---

<a
  target="_blank"
  rel="noreferrer noopener"
  href="https://supabase.io"
  class="group relative overflow-hidden cursor-pointer duration-300 shadow-[inset_0_0_3rem_#3FCF8E44] hover:shadow-[inset_0_0_8rem_#3FCF8E44,0_0_2rem_#3FCF8E44] border-[#3FCF8E]/70 hover:border-[#4FDF9E] bg-[#3FCF8E]/10 backdrop-blur-sm border text-[#7FFFBE] p-4 flex-grow rounded-3xl flex flex-col items-start"
>
  <img
    class="absolute -right-3 -top-3 sm:opacity-40 opacity-10 -z-[1] group-hover:scale-50 group-hover:-rotate-12 group-hover:opacity-100 duration-500"
    src="/stack/supabase.svg"
    alt="supabase"
    width={96}
    height={96}
  />
  <img
    class="absolute right-2 top-2 opacity-40 sm:opacity-100 -z-[1] group-hover:-rotate-[12deg] group-hover:scale-125 group-hover:opacity-0 duration-700"
    src="/stack/supabase.svg"
    alt="supabase"
    width={56}
    height={56}
  />
  <div
    class="bg-[#3FCF8E] group-hover:bg-[#4FDF9E] duration-500 font-bold text-black rounded-full px-2 text-sm"
  >
    v2
  </div>
  <h1 class="text-2xl mt-2">Supabase</h1>
  <span class="font-thin max-w-[24ch] mt-1 opacity-70"
    >Open source backend as a service</span
  >
</a>
