---

---

<a
  target="_blank"
  rel="noreferrer noopener"
  href="https://tamagui.dev/"
  class="group hover:no-underline relative overflow-hidden shadow-[inset_0_0_3rem_#fff4] hover:shadow-[inset_0_0_3rem_#fff4,0_0_2rem_#fff4] border-white/40 hover:border-white/70 bg-gradient-to-br from-yellow-400/10 via-cyan-400/10 to-pink-400/10 backdrop-blur-sm text-white p-4 flex-grow rounded-3xl hover:saturate-150 hover:brightness-110 flex flex-col items-start duration-500 border"
>
  <img
    class="absolute right-2 top-2 opacity-40 sm:opacity-100 group-hover:scale-y-110 -z-[1] group-hover:-scale-x-110 duration-500 group-hover:-translate-x-2 group-hover:translate-y-2"
    src="/stack/tamagui.svg"
    alt="tamagui"
    width={56}
    height={56}
  />
  <div
    class="bg-gradient-to-br from-orange-300/90 via-cyan-300/90 to-pink-300/90 duration-500 font-bold text-black rounded-full px-2 text-sm"
  >
    v1
  </div>
  <h1
    class="text-2xl font-semibold mt-2 bg-gradient-to-br from-yellow-300 via-blue-200 to-pink-300 bg-clip-text text-transparent"
  >
    Tamagui
  </h1>
  <span class="font-thin max-w-[24ch] mt-1 opacity-70">
    Universal UI for React Native
  </span>
</a>
