---

---

<a
  target="_blank"
  rel="noreferrer noopener"
  href="https://reactnativeunistyles.vercel.app/"
  class="group relative overflow-hidden cursor-pointer duration-300 shadow-[inset_0_0_3rem_#FFCA2844] hover:shadow-[inset_0_0_3rem_#FFCA2844,0_0_2rem_#FFCA2844] border-[#A559AB]/70 hover:border-[#A559AB]/80 bg-[#A559AB]/10 backdrop-blur-sm border text-[#A559AB] p-4 flex-grow rounded-3xl flex flex-col items-start"
>
  <img
    class="absolute right-2 top-2 opacity-40 sm:opacity-100 group-hover:scale-110 group-hover:-rotate-6 duration-500"
    src="/stack/unistyles.svg"
    alt="unistyles"
    width={56}
    height={56}
  />
  <div
    class="bg-white/80 group-hover:bg-white duration-500 font-bold text-black rounded-full px-2 text-sm"
  >
    v2
  </div>
  <h1 class="text-2xl mt-2">Unistyles</h1>
  <span class="font-thin max-w-[24ch] mt-1 opacity-70"
    >Superset of StyleSheet</span
  >
</a>
