---

---

<a
  target="_blank"
  rel="noreferrer noopener"
  href="https://zustand.docs.pmnd.rs/"
  class="group hover:no-underline relative shadow-[inset_0_0_3rem_#fff4] hover:shadow-[inset_0_0_3rem_#fff4,0_0_2rem_#fff4] border-amber-200/40 hover:border-amber-200/70 bg-gradient-to-tl from-amber-300/10 via-orange-300/10 to-yellow-200/10 backdrop-blur-sm text-amber-100 p-4 flex-grow rounded-3xl hover:saturate-150 hover:brightness-110 flex flex-col items-start duration-500 border"
>
  <img
    class="absolute right-2 top-2 opacity-40 sm:opacity-80 -z-[1] group-hover:opacity-0 group-hover:scale-125 group-hover:ease-[cubic-bezier(0.175,0.885,0.32,1.275)] group-hover:translate-x-4 group-hover:-translate-y-4 group-hover:rotate-12 duration-500 grayscale brightness-200 sepia origin-center"
    src="/stack/zustand.svg"
    alt="zustand"
    height={96}
    width={96}
  />
  <img
    class="absolute right-2 top-2 opacity-0 -z-[1] group-hover:opacity-100 group-hover:scale-125 group-hover:ease-[cubic-bezier(0.175,0.885,0.32,1.275)] group-hover:translate-x-4 group-hover:-translate-y-4 group-hover:rotate-12 duration-500 origin-center"
    src="/stack/zustand.svg"
    alt="zustand"
    height={96}
    width={96}
  />
  <div
    class="bg-amber-200/90 group-hover:bg-amber-200 duration-500 font-bold text-black rounded-full px-2 text-sm"
  >
    v5
  </div>
  <h1
    class="text-2xl font-semibold mt-2 bg-gradient-to-br from-amber-200 via-orange-100 to-yellow-100 bg-clip-text text-transparent"
  >
    Zustand
  </h1>
  <span
    class="font-thin max-w-[24ch] mt-1 opacity-70 group-hover:opacity-100 duration-1000"
  >
    State management for React
  </span>
</a>
