*.cast
*.ejs
*.jpeg
*.png
*.ttf
*.txt
*.ico
.editorconfig
.env
.gitignore
.husky/pre-commit
.prettierignore
LICENSE
cli/__tests__/__snapshots__/*
README.md
bun.lock
cli/__tests__/cli-integration.test.mts.snapshot