@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-6xl {
    line-height: 1.1 !important;
  }
}

*,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Geologica Variable", sans-serif;
}

::selection {
  background-color: orange;
  color: black;
}

html {
  background-color: black;
}

.animate-strokedasharray {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 15s ease-in-out forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

#cli-demo {
  opacity: 0;
  transform: translateY(1rem);
  animation: cli-demo 1s ease-in-out 1 forwards;
  box-shadow: inset 0 -10rem 5rem rgba(0, 0, 0, 0.5);
}

@keyframes cli-demo {
  to {
    opacity: 1;
    transform: translateY(0);
    box-shadow: inset 0 -10rem 10rem rgba(0, 0, 0, 0.5);
  }
}

#cli-demo::before {
  inset: 0;
  content: "";
  --angle: 128deg;
  position: absolute;
  border-radius: inherit;
  padding: 1.5px; /* control the border thickness */
  background: conic-gradient(
    from var(--angle),
    #fff2,
    #fff4 45%,
    #fff8 49%,
    #fff,
    #fff8 51%,
    #fff4 55%,
    #fff2
  );
  -webkit-mask-composite: xor;
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  animation: 10s rotate ease-in-out infinite;
  mask-composite: exclude;
  pointer-events: none;
}

@keyframes rotate {
  50% {
    --angle: 232deg;
  }
  to {
    --angle: 128deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@media (min-width: 640px) {
  .infinite-scroll-x-container {
    overflow: hidden;
    mask: linear-gradient(
      to right,
      transparent,
      white 20%,
      white 80%,
      transparent
    );
    -webkit-mask: linear-gradient(
      to right,
      transparent,
      white 20%,
      white 80%,
      transparent
    );
  }
  .infinite-scroll-x {
    animation: infinite-scroll-x 30s linear infinite;
  }

  @keyframes infinite-scroll-x {
    to {
      transform: translateX(-50%);
    }
  }
}
