.asciinema-theme-mine .asciinema-terminal {
  color: #f8f8f2; /* default text color */
  background-color: #272822; /* terminal background color */
  border-color: #272822;
}
.asciinema-theme-mine .fg-bg {
  /* inverse for default text color */
  color: #272822;
}
.asciinema-theme-mine .bg-fg {
  /* inverse for terminal background color */
  background-color: #f8f8f2;
}
.asciinema-theme-mine .fg-0 {
  color: #272822;
}
.asciinema-theme-mine .bg-0 {
  background-color: #272822;
}
.asciinema-theme-mine .fg-1 {
  color: #f92672;
}
.asciinema-theme-mine .bg-1 {
  background-color: #f92672;
}
.asciinema-theme-mine .fg-2 {
  color: #a6e22e;
}
.asciinema-theme-mine .bg-2 {
  background-color: #a6e22e;
}
.asciinema-theme-mine .fg-3 {
  color: #f4bf75;
}
.asciinema-theme-mine .bg-3 {
  background-color: #f4bf75;
}
.asciinema-theme-mine .fg-4 {
  color: #66d9ef;
}
.asciinema-theme-mine .bg-4 {
  background-color: #66d9ef;
}
.asciinema-theme-mine .fg-5 {
  color: #ae81ff;
}
.asciinema-theme-mine .bg-5 {
  background-color: #ae81ff;
}
.asciinema-theme-mine .fg-6 {
  color: #a1efe4;
}
.asciinema-theme-mine .bg-6 {
  background-color: #a1efe4;
}
.asciinema-theme-mine .fg-7 {
  color: #f8f8f2;
}
.asciinema-theme-mine .bg-7 {
  background-color: #f8f8f2;
}
.asciinema-theme-mine .fg-8 {
  color: #75715e;
}
.asciinema-theme-mine .bg-8 {
  background-color: #75715e;
}
.asciinema-theme-mine .fg-9 {
  color: #f92672;
}
.asciinema-theme-mine .bg-9 {
  background-color: #f92672;
}
.asciinema-theme-mine .fg-10 {
  color: #a6e22e;
}
.asciinema-theme-mine .bg-10 {
  background-color: #a6e22e;
}
.asciinema-theme-mine .fg-11 {
  color: #f4bf75;
}
.asciinema-theme-mine .bg-11 {
  background-color: #f4bf75;
}
.asciinema-theme-mine .fg-12 {
  color: #66d9ef;
}
.asciinema-theme-mine .bg-12 {
  background-color: #66d9ef;
}
.asciinema-theme-mine .fg-13 {
  color: #ae81ff;
}
.asciinema-theme-mine .bg-13 {
  background-color: #ae81ff;
}
.asciinema-theme-mine .fg-14 {
  color: #a1efe4;
}
.asciinema-theme-mine .bg-14 {
  background-color: #a1efe4;
}
.asciinema-theme-mine .fg-15 {
  color: #f9f8f5;
}
.asciinema-theme-mine .bg-15 {
  background-color: #f9f8f5;
}
.asciinema-theme-mine .fg-8,
.asciinema-theme-mine .fg-9,
.asciinema-theme-mine .fg-10,
.asciinema-theme-mine .fg-11,
.asciinema-theme-mine .fg-12,
.asciinema-theme-mine .fg-13,
.asciinema-theme-mine .fg-14,
.asciinema-theme-mine .fg-15 {
  font-weight: bold;
}

pre {
  border: 0 !important;
}
