---
import GitHubIcon from "@components/icons/github";
import GithubStarButton from "./githubStarButton.astro";
---

<nav
  class="z-[1] flex p-[0.5%] xl:p-[1%] 2xl:p-[1.5%] text-white justify-between items-center w-full"
>
  <div class="m-2 h-10 w-10"></div>
  <GithubStarButton />
  <div class="flex flex-row space-x-4 items-center justify-center">
    <!-- <a href="https://docs.expostack.dev/" class="hover:no-underline">Docs</a> -->
    <a target="_blank" rel="noreferrer noopener" href="https://github.com/danstepanov/create-expo-stack"
      ><GitHubIcon className="m-2 h-10 w-10" /></a
    >
  </div>
</nav>
